*.gypcmd
*.mk
*.ncb
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.TMP
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
v8.log

# We should not add pattern |third_party/|. When we do so, |git submodule add|
# fails.
/base/
/build/
/buildtools/
/build/win_toolchain.json
/crypto/
/testing/
/third_party/autopep8/
/third/boringssl/src
/third_party/ced/src
/third_party/depot_tools/
/third_party/googletest/src/
/third_party/icu
/third_party/instrumented_libraries/
/third_party/jinja2/
third_party/llvm-build/
/third_party/markupsafe/
/third_party/modp_b64/
/third_party/pep8/
/third_party/ply/
/third_party/v8
/third_party/yasm/source/patched-yasm/
/third_party/yasm/binaries/
/third_party/zlib/
/tools/clang/
/tools/grit/
/tools/gyp/
/tools/idl_parser/
/tools/win/
/v8/
