[submodule "tools/deps2git"]
	path = tools/deps2git
	url = https://chromium.googlesource.com/chromium/tools/deps2git.git
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu.git
